.footer {
  @media screen and (min-width: 320px) {
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 768px) {
  }
}

.footer__div {
  @media screen and (min-width: 320px) {
    background-color: #000000;
    padding-top: 40px;
    padding-bottom: 50px;
    padding-left: 35px;
    padding-right: 35px;
    text-align: center;
  }
}
.footer__title {
  @media screen and (min-width: 320px) {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #fefefe;
    margin-bottom: 25px;
  }
  @media screen and (min-width: 768px){
    margin-top: 60px;
  }
  @media screen and (min-width: 1200px){
    margin-top: 65px;
  }
}
.footer__text {
  @media screen and (min-width: 320px) {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    padding: 0px 25px;
    color: #b9b9b9;
    margin-bottom: 25px;
  }
  @media screen and (min-width: 768px){
    display: none;
  } 
  @media screen and (min-width: 1200px){
    
  } 
}
.footer__text-second {
  @media screen and (min-width: 320px){
    display: none;
  } 
  @media screen and (min-width: 768px) {
    display: inline-block;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    color: #b9b9b9;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1200px){
    display: inline-block;
  } 
}

.icon__ul {
  @media screen and (min-width: 320px) {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }
  @media screen and (min-width: 768px){
    margin-left: auto;
    margin-right: auto;

  }
  @media screen and (min-width: 1200px){

  }
}
.icon {
  @media screen and (min-width: 320px) {
    margin-left: 5px;
    margin-right: 5px;
  }
}
.icon__img {
  @media screen and (min-width: 320px) {
  }
}
.info {
  @media screen and (min-width: 320px) {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #b9b9b9;
    
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    margin-bottom: 55px;
    margin-top: 35px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 70px;
  }
}
.info__tel {
  @media screen and (min-width: 768px) {
    margin-left: 5px;
    margin-right: 5px;
  }
}
