.container {
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 320px) {
    width: 320px;
   
  }
  
  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 0px;
   
  }
  @media screen and (min-width: 1200px) {
   width: 1200px;
   padding: 0px;
   
  }
}

.header {
  @media screen and (min-width: 320px) {
    padding-top: 20px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 0px;
  }
  @media screen and (min-width: 1200px){
    padding-top: 30px;
  }
}

.menu__button {
  @media screen and (min-width: 320px) {
    border: none;
    width: 45px;
    height: 35px;
    margin-left: 275px;
    margin-right: 30px;
    background-color: black;
    border-radius: 3px;
    position: relative;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu__button span{
  @media screen and (min-width: 320px){
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 2px;
    transform: translate(-50%, -50%);
    // margin-top: -1px;
    // margin-left: -10px;
    background-color: #f5f5f5;
  }
  
  }
  .menu__button span{
    @media screen and (min-width: 320px){
      &:nth-of-type(2){
      top: calc(50% - 5px);
    }
    &:nth-of-type(3){
      top: calc(50% + 5px);
    }
  }
    
  }

  .menu__button.active span{
    @media screen and (min-width: 320px){
     &:first-of-type {
      opacity: 0;
    }
    &:nth-of-type(2){
      transform: translate(-50%, -50%) rotate(45deg);
      top:50%;
    }
    &:nth-of-type(3){
      transform: translate(-50%, -50%) rotate(-45deg);
      top:50%;
    }
  }
  }

 
.header__list {
  @media screen and (min-width: 320px)and (max-width:767px) {
    position: absolute;
    width: 180px;
    height: 220px;
    background: #f5f5f5;
    margin-left: 140px;
  }
  @media screen and (min-width: 768px){
    margin-top: 40px;
  }
  
}

.header__text {
  @media screen and (min-width: 320px) {
   
    
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;

   
  }
  
}
.header__li {
  @media screen and (min-width: 320px) and (max-width:767px){
  
    &:hover {
      background: #e5e5e5;
    }
  }
    @media screen and (min-width: 768px) {
  
     
    &:not(:last-child){
         padding-right: 35px;
        
     }
     @media screen and (min-width: 1200px){
       margin-left: 20px;
       margin-right: 30px;

     }
          
       }
    
  }
.header__link {
  @media screen and (min-width: 320px) {
    font-size: 10px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: #4e4e4e;
    padding-left: 15px;
    padding-top: 10px;
    cursor: pointer;
  }
  @media screen and (min-width: 768px) {
   
    text-transform: uppercase;
    color: #4e4e4e;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 20px;
    align-items: center;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    padding-left: 0px;
    
   
    
  }
}
.header__link-current {
  @media screen and (min-width: 320px) {
    color: #57a4a4;
  }
}

.open{
  @media screen and (min-width: 320px) and (max-width:767px) {
  display: none;
  }
}