
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}





.main__img {
  @media screen and (min-width: 320px) {
    width: 320px;
    height: 150px;

    margin-right: 25px;
    margin-top: 25px;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    height: 360px;
    margin-top: 50px;
  }
  @media screen and (min-width: 1200px) {
    width: 1170px;
    height: 550px;
  }
}
.main__text {
  @media screen and (min-width: 320px) {
    width: 170px;
    height: 20px;
    font-weight: bold;
    font-family: Roboto;
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #4e4e4e;

    margin-bottom: 25px;
  }
  @media screen and (min-width: 768px) {
  }
}
.list {
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
   
  }
}
.list__item {
  @media screen and (min-width: 320px) {
    margin-bottom: 25px;
  }
  @media screen and (min-width: 1200px){
width: 555px;
margin-bottom: 10px;
  }
}
.container__description-one{
  @media screen and (min-width: 1200px){
    margin-left: 55px;
  }
}

.container__main{
  @media screen and (min-width: 1200px){
    display: flex;
    flex-wrap: wrap;
  }
}
.container__description {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: flex-start;
    
  }
  @media screen and (min-width: 1200px){
    margin-bottom: 20px;
  }
}
.list__div {
  @media screen and (min-width: 768px) {
    margin-left: 20px;
  }
}
.list{
  @media screen and (min-width: 1200px){
    width: 1165px;
  }
}
.list__img{
  @media screen and (min-width: 1200px){
   
  }
}
.list__title {
  @media screen and (min-width: 320px) {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 30px;
    color: #4e4e4e;
  }
}
.list__text {
  @media screen and (min-width: 320px) {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 20px;
    color: #7c7c7c;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 12px;
  }
}
.list__text-p {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: inline-block;
    width: 400px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    color: #5c5c5c;
  }
}
.inst__div{
  @media screen and (min-width: 768px){
    background: rgba(0, 0, 0, 0.03);
    margin-top: 60px;
  }
  @media screen and (min-width: 1200px){
     margin-top: 70px;
    
  }
}

.container__text {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 35px;
  }
  @media screen and (min-width: 1200px){
    margin-right: 25px;
    margin-bottom: 5px;
  }
}
.inst__text-two {
  @media screen and (min-width: 320px){
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 22px;
    color: #4e4e4e;
    padding-left: 300px;
    
  }
}
.inst__text {
 
  @media screen and (min-width: 320px) {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #4e4e4e;
    margin-bottom: 15px;
    margin-top: 80px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 15px;
  }
}

.container__photo-ul {
  @media screen and (min-width: 768px) {
    display: flex;
    
  }
  @media screen and (min-width: 1200px) {
    justify-content: center;
  }
 
}
.container__photo-li{
  @media screen and (min-width: 768px){
    &:not(:last-child){
     padding-right: 10px;
     }
  }
}
.inst__img {
  @media screen and (min-width: 320px) {
    margin-bottom: 40px;
  }
  @media screen and (min-width: 768px) {
    
    width: 250px;
  }
  @media screen and (min-width: 1200px){
    width: 285px;
    height: 285px;
  } 
}
.inst-last{
  @media screen and (min-width: 320px){
    display: none;
  }
  @media screen and (min-width: 768px){
    display: none;
  }
  @media screen and (min-width: 1200px){
    display: block;
  }
}
.img__not-needed{
  @media screen and (min-width: 320px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: block;
  }
}
